.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://w-dog.ru/wallpapers/1/54/470424352539568/knizhnye-polki-uyut-lesenki-biblioteka.jpg");
  background-size: cover;
}
